configuration {
  modi: "drun";
  show-icons: true;

  font: "JetBrainsMono Nerd Font 13";

  icon-theme: "Papirus";

  terminal: "ghostty";

  drun-display-format: "{name}";
}

* {
  bg: #c8c6c1;
  bg-dark: #3b4252;

  fg: #d8dee9;

  border-light: #3b4252;
  border-dark: #d8dee9;

  accent: #6d7b8a;
}

window {
  width: 700px;

  border: 4px;
  border-color: @border-dark;

  background-color: @bg-dark;

  location: center;

  border-radius: 0px;
}

mainbox {
  children: [inputbar, listview];

  spacing: 18px;
  padding: 24px;

  background-color: @bg-dark;
}

inputbar {
  padding: 14px;

  border: 3px;

  border-color: @border-light;

  background-color: #919191;

  text-color: #3b4252;
}

prompt {
  enabled: false;
}

entry {
  placeholder: "Search something...";
  text-color: @fg;
}

listview {
  lines: 8;
  columns: 1;

  spacing: 10px;

  scrollbar: false;

  background-color: #3b4252;
}

element {
  padding: 12px;

  border-radius: 0px;

  background-color: #3b4252;

  text-color: #d8dee9;
}

element selected {
  background-color: @accent;

  text-color: #ffffff;
}

element-icon {
  size: 28px;

  margin: 0px 12px 0px 0px;
}
