* {
font-family: "JetBrainsMono Nerd Font";
}

window {
  background-color: rgba(0, 0, 0, 0.40);
}

button {
  background-image: none;

  min-width: 180px;
  min-height: 180px;

  margin: 18px;
  padding: 40px;

  border-radius: 0px;

  /* retro beige */
  background-color: #d8d2c4;

  /* old UI borders */
  border-top: 3px solid #f4efe4;
  border-left: 3px solid #f4efe4;

  border-right: 3px solid #7e7a70;
  border-bottom: 3px solid #7e7a70;

  color: #2b2b2b;

  font-size: 54px;

  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
  background-color: #e6dfd1;
}

button:active {
  background-color: #c8c1b4;

  border-top: 3px solid #7e7a70;
  border-left: 3px solid #7e7a70;

  border-right: 3px solid #f4efe4;
  border-bottom: 3px solid #f4efe4;
}

/* icon colors */

#lock {
color: black;
}

#logout {
color: black;
}

#suspend {
color: black;
}

#reboot {
color: black;
}

#shutdown {
color: black;
}
